<form action="/" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">What is your name?</label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="Name" name="username">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Start Playing</button>
    </div>
  </div>
</form>
